.form {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    @media (max-width: 1200px) {
      padding: 0 20px;
    }
    &__logo {
      margin-top: 31px;
      margin-left: 42px;
    }
    &__content {
      padding-top: 102px;
      padding-bottom: 102px;
      width: 100%;
      max-width: 431px;
      align-self: center;
    }
    &__title {
      font-weight: 500;
      font-size: 30px;
      line-height: 45px;
      color: #000000;
      display: block;
      margin-bottom: 22px;
    }
    &__subtitle {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 6px;
      &:last-of-type {
        margin-bottom: 52px;
      }
    }
    &__link {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: var(--blue-color);
    }

  }
  
  .logo {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
  }
  
  .input-box {
    margin-bottom: 49px;
    position: relative;
    &:last-of-type {
      margin-bottom: 0;
    }
    &__info {
      display: block;
      margin-bottom: 11px;
      font-weight: 500;
      font-size: 13px;
      line-height: 20px;
      color: #999999;
      user-select: none;
    }
    &-eye {
      display: inline-block;
      height: 20px;
      width: 20px;
      position: absolute;
      top: 30px;
      right: 5px;
      cursor: pointer;
        
    }
    & > input {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      border-bottom: 2px solid #999999;
      padding-bottom: 9px;
      padding-left: 27px;
      color: #000842;
      &:focus {
        border-bottom: 2px solid #000842;
      }
    }

    
    &__icon {
      position: absolute;
      user-select: none;
    }
  }
  .message_psw {
    display: none;
  }
  .form-box__input-box > p{
    font-size: 13px;
    color: red;
    display: none;
  }
  .btn-box {
    margin-top: 109px;
    & > button {
      background: #0c21c1;
      box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
      border-radius: 32px;
      font-weight: 500;
      font-size: 17px;
      line-height: 26px;
      color: #ffffff;
      width: 100%;
      padding-top: 14px;
      padding-bottom: 14px;
      text-align: center;
      cursor: pointer;
    }
  }
  
  .form-box {
    &__social {
      margin-top: 39px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &-info {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #b5b5b5;
        margin-bottom: 31px;
      }
      &-items {
        display: flex;
        & > a {
          margin-right: 20px;
          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }

  .valid {
    color: grey;
  }
  .invalid {
    color: red;
  }
  .valid:before {
    position: relative;
    left: -15px;
    content: "\2713";
  }
  
  .invalid:before {
      position: relative;
      left: -15px;
      content: "\2717";
    }
  
  // color: #000842;